/* FLIPPAGE COMPONENT CSS */
.custom-flipbook {
  width: 800px; /* Set the desired width in pixels or another valid unit */
  height: 600px; /* Set the desired height in pixels or another valid unit */
}

#main-container{
  background-image: url(pimentel_bg.JPG);
  background-repeat: repeat;
  background-size: cover;
}

/* Styling for the main pages */
.flipbook-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

/* Define a background image for even and odd pages */
.even-page {
  background-image: url('Odd5.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.odd-page {
  background-image: url('Even5.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* BUTTON CSS */
#nav-container {
  margin: 20px 0px 0px 0px;
  background-color: #ffffff;
  padding: 3px;
  border-radius: 5px;
}

#icon{
  font-size: 15px;
  margin: 0 5px 0 0;
}

#facultyProfileButton, #certificationsButton, #researchButton, #yearsort, #titlesort {
  font-weight: 600;
  font-size: 15px;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  display: static;
  background-color: #FF883B;
  transition: color 1s;
  font-family: "Arial Narrow", Arial, sans-serif; /* Use "Arial Narrow" with fallbacks */
}

#facultyProfileButton:hover, #certificationsButton:hover, #researchButton:hover, #yearsort:hover, #titlesort:hover {
  color: #FF883B;
  background-color: #e6e6e6;
}

#facultyProfileButton:active, #certificationsButton:active, #researchButton:active, #yearsort:active, #titlesort:active {
  color: #0c0c0c;
  background-color: #dcdcdc;
}

/* Styling for page content */
#label, label {
  margin: 5px 0 5px 0;
  font-weight: 800;
  font-family: "Arial Narrow", Arial, sans-serif; /* Use "Arial Narrow" with fallbacks */
}

#ul-div{
  margin: 50px 0 0 0;
}

#ul-flip, #li-flip {
  width: 250px;
  padding: 0 0 0 0px;
  width: 200px;
  margin: 0px 0px 0px 30px;
  font-size: 10px;
  text-align: justify;
  font-family: "Arial Narrow", Arial, sans-serif; /* Use "Arial Narrow" with fallbacks */
}

#ul-cert, #li-cert {
  width: 200px;
  padding: 0 0 0 0px;
  margin: 0px 0px 0px 30px;
  font-size: 10px;
  text-align: justify;
  font-family: "Arial Narrow", Arial, sans-serif; /* Use "Arial Narrow" with fallbacks */
}

#ul-cert{
  width: 250px;
  max-height: 250px;
  overflow: scroll;
  overflow-x: hidden;
}


#ul-edu, #li-edu {
  width: 180px;
  padding: 0 0 0 0px;
  margin: 0px 0px 0px 30px;
  font-size: 10px;
  text-align: justify;
  font-family: "Arial Narrow", Arial, sans-serif; /* Use "Arial Narrow" with fallbacks */
}

#ul-edu{
  width: 230px;
  max-height: 130px;
  overflow: scroll;
  overflow-x: hidden;
}

#li-research {
  margin: 0 0 0 10px;
  max-width: 200px;
  font-size: 12px;
  text-align: justify;
  font-family: "Arial Narrow", Arial, sans-serif; /* Use "Arial Narrow" with fallbacks */
}

#ul-research {
  margin: 0 0 0 50px;
  max-width: 220px;
  max-height: 500px;
  overflow-y: scroll;
  font-size: 10px;
  text-align: justify;
  font-family: "Arial Narrow", Arial, sans-serif; /* Use "Arial Narrow" with fallbacks */
  max-height: 200px;
  overflow: scroll;
  overflow-x: hidden;
}

#facultyType {
  font-size: 17px;
  margin-top: 10px;
  color: #ffffff;
  font-family: "Arial Narrow", Arial, sans-serif; /* Use "Arial Narrow" with fallbacks */
  font-weight: 600;
}

#imgicon {
  box-shadow: 1px 1px 10px 0px rgb(66, 66, 66);
  border: solid 2px #FF883B;
  margin: 30px 0 0 0px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

#name {
  margin: 5px 0 0 0;
  font-size: 18px;
  font-weight: bold;
  font-family: "Arial Narrow", Arial, sans-serif; /* Use "Arial Narrow" with fallbacks */
}

#hr1 {
  margin: 5px 0 0 16%;
  border-top: 2px solid #000;
  width: 210px;
}

#hr2{
  margin: 5px 0 5px 0px;
  border-top: 2px solid #000;
  width: 200px;
}

#pos {
  margin: 0 0 0 50px;
  width: 200px;
  font-style: italic;
  font-family: "Arial Narrow", Arial, sans-serif; /* Use "Arial Narrow" with fallbacks */
}

#edu{
  margin: 0 0 5px 0;
}

#r-label{
  font-weight: 600;
}

#res{
  margin: 5px 0 5px 0;
  font-weight: 600;
  font-family: "Arial Narrow", Arial, sans-serif; /* Use "Arial Narrow" with fallbacks */
}

#dep, #emp, #edu {
  margin: 10px 0 0 0;
  font-size: 10px;
  font-family: "Arial Narrow", Arial, sans-serif; /* Use "Arial Narrow" with fallbacks */
}

#label1{
  max-width: 200px; /* Adjust the maximum width as needed */
  word-wrap: break-word; /* Wrap words when they exceed the container's width */
  margin: 2px 0 0 0;
}

#title, #year, #author, #link {
  font-weight: 600;
  font-family: "Arial Narrow", Arial, sans-serif; /* Use "Arial Narrow" with fallbacks */
}

#title, #year, #author, #link {
  font-size: 15px;
  margin: 5px 0 50px 0;
}

#research-label{
  color: #000;
}

#research-label:hover{
  text-decoration: underline;
  color: #dc5800;
}

/* Media Query for smaller screens */
@media screen and (max-width: 820px) {

  #imgicon {
    height: 150px;
    width: 150px;
    margin-top: 105px;
  }

  .even-page {
    margin-left: 5px;
    background-image: url('Odd5.png');
    background-size: cover;
    background-position: center;
  }

  .odd-page {
    margin-left: 5px;
    background-image: url('Even5.png');
    background-size: cover;
    background-position: center;
  }

  #imgicon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 30px;
  }

  #type {
    font-size: 5px;
    margin-top: 7px;
    left: 50%;
    color: #ffffff;
    font-weight: bold;
  }

  #name {
    font-size: 17px;
    font-weight: bold;
  }

  hr {
    border-top: 1px solid #000;
  }

  #position,
  #dep,
  #emp,
  #edu
   {
    font-size: 5px;
    text-align: center; /* Add text alignment */
    justify-content: center;
    margin: 10px 0 0 27%;
    font-size: 10px;
    font-family: "Arial Narrow", Arial, sans-serif; /* Use "Arial Narrow" with fallbacks */
  }
  

  #li-cert{
    margin-right: 30px;
  }
  #emp{
    margin-right: 100px;
    font-size: 9px;
  }
  #dep{
    margin-right: 100px;
    font-size: 9px;
  }
  #edu{
    margin-right: 100px;
    font-size: 9px;
  }
}

@media screen and (max-width: 768px) {
  #imgicon {
    height: 150px;
    width: 150px;
    margin-top: 105px;
  }

  #facultyProfileButton,
  #certificationsButton {
    display: static;
  }

  .flip-data {
    width: 250px;
  }

  .even-page {
    margin-left: 5px;
    background-image: url('Odd5.png');
    background-size: cover;
    background-position: center;
  }

  .odd-page {
    margin-left: 5px;
    background-image: url('Even5.png');
    background-size: cover;
    background-position: center;
  }

  #imgicon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 30px;
  }

  #type {
    font-size: 5px;
    margin-top: 7px;
    left: 50%;
    color: #ffffff;
    font-weight: bold;
  }

  #name {
    font-size: 17px;
    font-weight: bold;
  }

  hr {
    border-top: 1px solid #000;
  }

  #position,
  #dep,
  #emp,
  #edu
  {
    font-size: 5px;
  }
  

  #li-cert{
    margin-right: 30px;
  }
  #emp{
    margin-right: 100px;
    font-size: 9px;
  }
  #dep{
    margin-right: 100px;
    font-size: 9px;
  }
  #edu{
    margin-right: 100px;
    font-size: 9px;
  }
}



@media screen and (max-width: 375px) {
  .flipbook-container{
    padding: 100px 0 0 0;
  }
  .even-page {
    margin-left: 0px;
    background-image: url('Odd5.png');
    background-size: cover;
    background-position: center;
  }

  .odd-page {
    margin-left: 0px;
    background-image: url('Even5.png');
    background-size: cover;
    background-position: center;
  }

  #imgicon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 30px;
  }

  #type {
    font-size: 5px;
    margin-top: 7px;
    left: 50%;
    color: #ffffff;
    font-weight: bold;
  }

  #name {
    font-size: 17px;
    font-weight: bold;
  }

  hr {
    border-top: 1px solid #000;
  }

  #position,
  #dep,
  #emp,
  #edu
   {
    font-size: 5px;
    font-style: italic;
  }

  .flip-data {
    width: 200px;
  }
  

  #li-cert{
    margin-right: 30px;
  }
  #emp{
    margin-right: 100px;
    font-size: 9px;
  }
  #dep{
    margin-right: 100px;
    font-size: 9px;
  }
  #edu{
    margin-right: 100px;
    font-size: 9px;
  }
}

@media screen and (max-width: 365px) {
  .even-page {
    margin-left: 15px;
    background-image: url('Odd5.png');
    background-size: cover;
    background-position: center;
  }

  .odd-page {
    margin-left: 10px;
    background-image: url('Even5.png');
    background-size: cover;
    background-position: center;
  }

  #imgicon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 30px;
  }

  #type {
    font-size: 5px;
    margin-top: 7px;
    left: 50%;
    color: #ffffff;
    font-weight: bold;
  }

  #name {
    font-size: 17px;
    font-weight: bold;
  }

  hr {
    border-top: 1px solid #000;
  }

  #position,
  #dep,
  #emp,
  #edu
   {
    font-size: 5px;
    font-style: italic;
  }

  .flip-data {
    width: 200px;
  }
  .flipbook-container{
    margin-right: 10px;
    padding: 20px 0 0 0;
  }
  

  #li-cert{
    margin-right: 30px;
  }
  #emp{
    margin-right: 100px;
    font-size: 9px;
  }
  #dep{
    margin-right: 100px;
    font-size: 9px;
  }
  #edu{
    margin-right: 100px;
    font-size: 9px;
  }

}

@media screen and (max-width: 280px) {
  .flipbook-container {
   
      margin-right: 10px;
      padding: 20px 0 0 0;
    
  }

  .even-page {
    margin-top: 100px;
    margin-left: 5px;
    background-image: url('Odd5.png');
    background-size: cover;
    background-position: center;
  }

  .odd-page {
    margin-top: 100px;
    margin-left: 5px;
    background-image: url('Even5.png');
    background-size: cover;
    background-position: center;
  }

  .button-container {
    margin-left: 102px;
  }

  #facultyProfileButton,
  #certificationsButton {
    display: static;
  }

  #imgicon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 30px;
  }

  #type {
    font-size: 5px;
    margin-top: 7px;
    left: 50%;
    color: #ffffff;
    font-weight: bold;
  }

  #name {
    font-size: 17px;
    font-weight: bold;
  }

  hr {
    border-top: 1px solid #000;
  }

  #position,
  #dep,
  #emp,
  #edu
   {
    font-size: 5px;
    font-style: italic;
  }

  .flip-data {
    width: 150px;
  }
 

 
  #emp{
    margin-right: 100px;
    font-size: 9px;
  }
  #dep{
    margin-right: 100px;
    font-size: 9px;
  }
  #edu{
    margin-right: 100px;
    font-size: 9px;
  }
  #cert{
    margin-right: 300px;
  }
}
